{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "singleQuote": true,
  "semi": true
}

{
 "env": {
 "browser": true,
 "es6": true,
 "node": true
 },
 "extends": [
 "airbnb-base"
 ],
 "rules": {
 }
}
